.rules {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: -4px;
}

.ruleItem {
  font-size: var(--body-small-font-size);
  color: var(--color-outline);
  line-height: var(--body-small-line-height);
  display: flex;
  align-items: center;
  gap: 4px;
  transition: color 0.2s;
}

.ruleMet {
  color: var(--color-status-success);
}

.checkIcon {
  color: var(--color-outline);
  flex-shrink: 0;
}

.checkIconMet {
  color: var(--color-status-success);
  flex-shrink: 0;
}
